#homepage-carousel{
    height: 500px;
}

#six-bar{
    background-color: rgb(40, 40, 40);
}
.six-bar-item{
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;

    padding: 50px;
    padding-top: 60px;

    color: white;
    outline: 1px grey solid;
}
.six-bar-link{
    color: white;
    font-size: 16px;
    text-decoration: none;
}