.program-header{
    padding: 100px;
    background-color: #008f8f;
    color: white;
}
.program-header h1{
    font-size: 70px;
    font-weight: bolder;
}
.program-header h2{
    margin-bottom: 30px;
    font-weight: lighter;
}
#program-directory{
    padding: 90px;
    padding-top: 30px;
    background-color: white;
    color: black;
    text-align: center;
}

.program-item{
    overflow: hidden;
    background-color: black;
    color: white;
}
.program-item img{
    width: 100%;
}
#academic-directory{
    padding: 90px;
    background-color: white;
    color: black;
}
.academic-container{
    text-indent: 15px;
}
.academic-container h2{
    font-weight: lighter;
    font-size: 20px;
}

#english-header{
    background-color: rgb(109, 0, 172);
    padding-top: 70px;
}

#math-header{
    background-color: blue;
    padding-top: 70px;
}

#gov-header{
    background-color: rgb(0, 115, 75);
    padding-top: 70px;
}

#sci-header{
    background-color: rgb(0, 185, 0);
    padding-top: 70px;
}
#art-header{
    background-color: rgb(200, 0, 0);
    padding-top: 70px;
}

.collapser{
    color: #008f8f;
    text-decoration: none;
}

.collapse p{
    text-align: center;
}
#teachers{
    text-align: left;
}
#golf-directory{
    background-color: white;
    padding: 25px;
}
